<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><marquee behavior="" direction=""> Your order is hear</marquee></h1>
    <table align="center" border="2px">
        <thead>
            <tr>
                <th>
                    item name
                </th>
                <th>
                    quantity
                </th>
                <th>
                    price
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Biryani
                </td>
                <td>
                    1kg
                </td>
                <td>
                    290 RS
                </td>
            </tr>
            <tr>
                <td>
                     Mutton Biryani
                </td>
                <td>
                    1kg
                </td>
                <td>
                    390 RS
                </td>
            </tr>
            <tr>
                <td>
                     Beaf Biryani
                </td>
                <td>
                    1kg
                </td>
                <td>
                    300 RS
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>