<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    center{
        background-color: aqua;
        height: 300px;
        width:500px;
        margin:auto;
    }
</style>
<body>
    <center>
        <h1>
            Jinjatags
        </h1>
        <h1>{{name}}</h1>
        <h1>{{age}}</h1>
        <h1>{{mbno}}</h1>
        <h1>{{email}}</h1>
    </center>
</body>
</html>